@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

:root{
    --White: hsl(0, 0%, 100%);
    --Light-gray: hsl(212, 45%, 89%);
    --Grayish-blue: hsl(220, 15%, 55%);
    --Dark-blue: hsl(218, 44%, 22%);
 }

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: "Outfit", sans-serif;
    font-size: 15px;
    background-color: var(--Light-gray);
    display: flex;
    align-items: center;
    min-height: 100vh;

}

.main{
    max-width:360px;
    margin: 0 auto;
}

.card{
    background-color: var(--White);
    padding: 18px;
    border-radius: 20px;
    text-align: center;
    margin: 0 16px;
}

.card img{
    width:100%;
    border-radius: 10px;
}

.text{
    padding: 22px 10px;
    
}

.text h2{
    color: var(--Dark-blue);
    padding-bottom: 15px;
}

.text p{
    color:var(--Grayish-blue);
}